<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GUDLFT Registration</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">GUDLFT</h3>
    </div>
  </header>

  <main class="px-3">
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p class="lead">Please enter your secretary email to continue:</p>
    <form action="showSummary" method="post" class="form-floating">
        <input type="email" name="email" class="form-control"/>
        
        <button type="submit" class="btn btn-light btn-lg">Enter</button>
    </form>
    {% if erreur %}
    <p style="color: red;" class="lead">Email Incorrect</p>
    {% endif %}
  </main>

  <footer class="mt-auto text-white-50">
    <p> by <a href="https://github.com/Effan21" class="text-white">@Effan21</a>.</p>
  </footer>
</div>
  </body>
</html>
